# Python
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/

# Node
frontend/node_modules/
frontend/build/
frontend/.env.local

# OS
.DS_Store
Thumbs.db
